h1{
    font-size: 50px;
}
.orange-highlight{color: orange;}
body{font-family: 'Poppins', sans-serif;}

.half-width{
    width:40%;
    float: left; /* jate ak pashe sore jay..abong dan pasher jaigai image aste pare */
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80% ;  /* jototuku jaiga pai tar 80% */
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    
}
p{
    color: grey;
}
section{
    height: 500px;
    padding-bottom: 150px;
    }

 .link-button{
       text-decoration: none;
       background-image: linear-gradient(45deg, lightsalmon,tomato);
       padding: 10px 20px;
       border-radius: 5px;
       color: white;
       font-weight: 700;

}   
.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    color: coral;
}

.single-experience{
    box-shadow:10px 10px 50px grey;
    border-radius: 10px;
    height: 80%;
}
.experience-area{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}